<!DOCTYPE html>
<html lang="en">
	
	<head>
		
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<script src="nui://game/ui/jquery.js"></script>

		<link rel="stylesheet" href="./css/style.css">

		<title>5 Pixel inventory</title>

	</head>
	<body>
		
		<div class="main-container">

			<div class="player-inv">

				<div class="player-inv-slots">

				</div>
				<div class="player-inv-menu">
					
				</div>

			</div>

		</div>

	</body>

	<script type="modules" src="./js/app.js"></script>

</html>