<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="./css/style.css">

		<title>Loading screen</title>

	</head>
	<body>
		
		<img class="background-image" id="background-image" src="./images/winter-background.jpg" alt="background">
		
		<div class="container">

			<img class="logo" src="./images/logo.png" alt="logo">

		</div>

		<div id="snowflakes-container" style="width: 100%; height: 100%;"></div>
		<script src="https://unpkg.com/magic-snowflakes/dist/snowflakes.min.js"></script>
		<script>
			var snowflakes = new Snowflakes({
				color: '#e0f8f8', // Default: "#5ECDEF"
				container: document.querySelector('#snowflakes-container'), // Default: document.body
				count: 75, // 100 snowflakes. Default: 50
				minOpacity: 0.1, // From 0 to 1. Default: 0.6
				maxOpacity: 0.95, // From 0 to 1. Default: 1
				minSize: 10, // Default: 10
				maxSize: 25, // Default: 25
				rotation: true, // Default: true
				speed: 1, // The property affects the speed of falling. Default: 1
				wind: false, // Without wind. Default: true
				width: 1920, // Default: width of container
				height: 1080, // Default: height of container
				zIndex: 9999 // Default: 9999
			});
		</script>

	</body>

</html>